.mainContainer {
  max-width: 1200px;
  margin: 70px 30px;
}

.card {
  border: 1px solid black;
  padding: 40px;
  text-align: center;
  position: relative;
}

.imageContainer {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  overflow: hidden;
}

.image {
  height: 100%;
}

.title,
.totalPrice {
  font-weight: bold;
}

.title{
  color: green;
}

.seeDetailsButton,
.editDeliveryButton {
  margin: 0 20px;
  padding:  10px 20px;
  text-transform: uppercase;
  border-color: green;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}

.seeDetailsButton {
  color: white;
  background: green;
}

.editDeliveryButton {
  color: green;
  background: white;
}

@media (min-width: 701px) {
}